# Libraries

In [1]:
import pandas as pd

# Import Data

In [26]:
news_df = pd.read_csv('../DATA/news_125K_raw.csv', index_col=0)

In [27]:
news_df

,Unnamed: 0.1,Unnamed: 0,title,body,topic,votes,clicks,comments
0,0,0,"Muere Toni Batllori, autor de la tira diaria d...",Toni Batllori Obiols ha fallecido esta noche e...,Únete a Cultura,144,1.1k,11
1,1,1,La anarquía explicada a los niños por José A. ...,"En 1931 el maestro José Antonio Emmanuel, y me...",Únete a Cultura,196,1.8k,109
2,2,2,"Rhianan Rudd, la adolescente a la que el MI5 a...","Rhianan Rudd, una adolescente de 14 años que v...",Únete a Actualidad,330,6.1k,77
3,3,3,Piden por burofax al obispo de Cartagena que r...,"La catedral de Murcia, la iglesia de El Salvad...",Únete a Politica,410,881,54
4,4,4,Érase una vez... (1950),Érase una vez... (1950) dirigida por Josep Esc...,Únete a Cultura,114,1k,9
...,...,...,...,...,...,...,...,...
126447,126447,2651,"El paro del 0,86%. «Camionero García». Opinión",Llama mucho la atención que muchos de estos qu...,Únete a Actualidad,334,1.4k,25
126448,126448,2652,Yolanda Diaz confirma que se presentará a la P...,"""Yolanda Díaz está dispuesta a ser candidata a...",Únete a Politica,762,2.3k,314
126449,126449,2653,Un juzgado de Alicante da la razón a un jubila...,Un juzgado de Lo Social de Alicante ha reconoc...,Únete a Actualidad,297,843,34
126450,126450,2654,El éxito chino determina la tensión militar,Ucrania forma parte y es prolegómeno de la gue...,Únete a Politica,310,4.1k,88
126451,126451,2655,El fin del camino a la servidumbre. La fiesta ...,En este artículo el escritor de ciencia ficció...,Únete a Politica,351,2.8k,63

# Data cleaning

### Removing

#### Remove unwanted columns

In [4]:
news_df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)

#### Remove duplicated rows

In [5]:
news_df.duplicated().sum()

2583

In [6]:
news_df.drop_duplicates(inplace=True)

#### Remove subset duplicated rows

In [7]:
news_df.describe(include='all')

,title,body,topic,votes,clicks,comments
count,123869,123864,123869,123869,123869,123869
unique,123659,123604,226,991,1127,731
top,Dos noticias que se entienden mejor juntas,Viñeta de Bernardo Vergara,Únete a Actualidad,1.1k,1.7k,44
freq,5,32,68524,2184,2705,1199

In [8]:
news_df.drop_duplicates(subset='title', inplace=True)

In [9]:
news_df.drop_duplicates(subset='body', inplace=True)

### Topic feature

#### Regroup topic classification

In [10]:
news_df['topic'].value_counts()[0:227]

Únete a Actualidad      68382
Únete a Cultura         23738
Únete a Tecnología       9829
Únete a Ocio             8064
Únete a Mnm              6335
                        ...
Únete a Arquitectura        1
Únete a Rol                 1
Únete a Micromundo          1
Únete a Genetica            1
Únete a Abandonos           1
Name: topic, Length: 225, dtype: int64

In [11]:
news_df.loc[news_df['topic']=='Únete a Actualidad','topic'] = 'Latest'
news_df.loc[news_df['topic']=='Únete a Cultura','topic'] = 'Culture'
news_df.loc[news_df['topic']=='Únete a Tecnología','topic'] = 'Technology'
news_df.loc[news_df['topic']=='Únete a Ocio','topic'] = 'Entertainment'
news_df.loc[news_df['topic']=='Únete a Politica','topic'] = 'Politics'
news_df.loc[news_df['topic']=='Únete a Ciencia','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Astronomia','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Linux','topic'] = 'Technology'
news_df.loc[news_df['topic']=='Únete a Vacúname','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Sucesos','topic'] = 'Latest'
news_df.loc[news_df['topic']=='Únete a Videojuegos','topic'] = 'Technology'
news_df.loc[news_df['topic']=='Únete a Motor','topic'] = 'Technology'
news_df.loc[news_df['topic']=='Únete a Barcos','topic'] = 'Technology'
news_df.loc[news_df['topic']=='Únete a Podemos','topic'] = 'Politics'
news_df.loc[news_df['topic']=='Únete a Softlibre','topic'] = 'Technology'
news_df.loc[news_df['topic']=='Únete a Sysdevs','topic'] = 'Technology'
news_df.loc[news_df['topic']=='Únete a Trenes','topic'] = 'Technology'
news_df.loc[news_df['topic']=='Únete a Series','topic'] = 'Culture'
news_df.loc[news_df['topic']=='Únete a Música','topic'] = 'Culture'
news_df.loc[news_df['topic']=='Únete a Coronavirus','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Salud','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Cine','topic'] = 'Culture'
news_df.loc[news_df['topic']=='Únete a Botánica','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Idiomas','topic'] = 'Culture'
news_df.loc[news_df['topic']=='Únete a Mambiente','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Sequía','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Anarquismo','topic'] = 'Politics'
news_df.loc[news_df['topic']=='Únete a Motociclismo','topic'] = 'Technology'
news_df.loc[news_df['topic']=='Únete a Fotografía','topic'] = 'Culture'
news_df.loc[news_df['topic']=='Únete a Medicina','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Biologia','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Música70','topic'] = 'Culture'
news_df.loc[news_df['topic']=='Únete a Psicología','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Feminismo','topic'] = 'Politics'
news_df.loc[news_df['topic']=='Únete a Energias','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Neurociencia','topic'] = 'Science'
news_df.loc[news_df['topic']=='Únete a Mnm','topic'] = 'Latest'

#### Assign 'Uncategorized' topic to the rest

In [12]:
topics = ['Latest', 'Culture', 'Technology', 'Entertainment', 'Politics', 'Science']
news_df['topic'][~news_df['topic'].isin(topics)]  = 'Uncategorized'

In [13]:
news_df['topic'].value_counts()

Latest           74777
Culture          23799
Technology       10125
Entertainment     8064
Politics          3793
Science           1979
Uncategorized      964
Name: topic, dtype: int64

### Clicks, votes and comments fetaure

#### Substitute the 'k' for 00 (thousands)

In [14]:
news_df['clicks'] = news_df['clicks'].str.replace('k', '00', regex=True)
news_df['votes'] = news_df['votes'].str.replace('k', '00', regex=True)
news_df['comments'] = news_df['comments'].str.replace('k', '00', regex=True)

#### Delete any character that is not a decimal digit

In [15]:
news_df['clicks'] = news_df['clicks'].str.replace(r'\D+', '', regex=True)
news_df['votes'] = news_df['votes'].str.replace(r'\D+', '', regex=True)
news_df['comments'] = news_df['comments'].str.replace(r'\D+', '', regex=True)

### Nans or null values

In [16]:
news_df.isna().sum()

title       0
body        1
topic       0
votes       0
clicks      0
comments    0
dtype: int64

#### Substitute Nans in comments for 0

In [17]:
news_df['comments'].fillna(0, inplace=True)

#### Delete empty body rows

In [18]:
news_df.dropna(inplace=True)

### Dtypes

In [19]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123500 entries, 0 to 123860
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   title     123500 non-null  object
 1   body      123500 non-null  object
 2   topic     123500 non-null  object
 3   votes     123500 non-null  object
 4   clicks    123500 non-null  object
 5   comments  123500 non-null  object
dtypes: object(6)
memory usage: 6.6+ MB

In [20]:
dtypes = {'votes': int,
         'clicks': int,
         'comments': int}

news_df = news_df.astype(dtypes)

# Checking

In [21]:
news_df.describe(include='all')

,title,body,topic,votes,clicks,comments
count,123500,123500,123500,123500.000000,123500.000000,123500.000000
unique,123500,123500,7,NaN,NaN,NaN
top,"Muere Toni Batllori, autor de la tira diaria d...",Toni Batllori Obiols ha fallecido esta noche e...,Latest,NaN,NaN,NaN
freq,1,1,74777,NaN,NaN,NaN
mean,NaN,NaN,NaN,499.308907,4266.780502,93.947012
std,NaN,NaN,NaN,381.540534,4496.099653,82.082242
min,NaN,NaN,NaN,10.000000,21.000000,1.000000
25%,NaN,NaN,NaN,246.000000,1500.000000,40.000000
50%,NaN,NaN,NaN,390.000000,2900.000000,71.000000
75%,NaN,NaN,NaN,625.000000,5500.000000,121.000000
max,NaN,NaN,NaN,5600.000000,293100.000000,1600.000000

In [24]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123500 entries, 0 to 123860
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   title     123500 non-null  object
 1   body      123500 non-null  object
 2   topic     123500 non-null  object
 3   votes     123500 non-null  int64
 4   clicks    123500 non-null  int64
 5   comments  123500 non-null  int64
dtypes: int64(3), object(3)
memory usage: 6.6+ MB

In [ ]:
df

- There are no duplicated rows
- There are no null or nan values
- Values are clear and meaningfull
- Dtypes are coherent
- Data is consistent and robust

Other issues will be handled in further developments

# Save file

In [23]:
news_df.to_csv('../DATA/news_125k.csv')